<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <form th:action method="post" enctype="multipart/form-data">
        <input type="file" name="uploadFiles" multiple="multiple">
        <button type="submit" class="btn btn-primary">등록</button>
    </form>
    <div th:replace="fragments/footer :: footer" />

</div> <!-- /container -->
</body>
</html>