<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div class="jumbotron">
        <h1>모임통장 정리</h1>
        <p class="lead">회원</p>
        <p>
            <a class="btn btn-lg btn-secondary" href="/">준비중</a>
            <a class="btn btn-lg btn-secondary" href="/">준비중</a>
        </p>
        <p class="lead">회비</p>
        <p>
            <a class="btn btn-lg btn-dark" href="/">파일업로드 준비중</a>
<!--            <a class="btn btn-lg btn-dark" href="/">준비중</a>-->
<!--            <a class="btn btn-lg btn-dark" href="/">준비중</a>-->
<!--            <a class="btn btn-lg btn-dark" href="/">준비중</a>-->
<!--            <a class="btn btn-lg btn-dark" href="/">준비중</a>-->
        </p>
        <p class="lead">XX 기능</p>
        <p>
            <a class="btn btn-lg btn-info" href="/">준비중</a>
            <a class="btn btn-lg btn-info" href="/">준비중</a>
        </p>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>